* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

body {
	background-color: #222;
}

canvas {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1366px), only screen and (max-height: 768) {
	canvas {
		left: 0;
		height: 100%;
		transform: translate(0, -50%);
		width: 100%;
	}
}

#loading {
	color: teal;
	font-family: "Lucida Console", Monaco, monospace;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}