* {
  box-sizing: border-box;
}

html, body {
  background-color: #8a7c98;
  height: 100%;
  margin: 0;
}

canvas {
  background-color: black;
  height: 540px;
  left: 50%;
  max-width: 95vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 990px;
}